* {
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: hsl(228, 12%, 48%);
}
.wrapper {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  overflow-y: hidden;
  border-radius: 8px;
}
#image,
#content {
  width: 50%;
  box-sizing: border-box;
}
img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
#content {
  background-color: hsl(0, 0%, 100%);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 160%;
  gap: 16px;
}
h1 {
  color: hsl(212, 21%, 14%);
  font-size: 40px;
}
.tagline {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  font-weight: 500;
}
h1,
.currentPrice {
  font-family: "Fraunces", serif;
  max-width: 80%;
  line-height: 120%;
}
.description {
  max-width: 80%;
}
.priceTag {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
button,
.currentPrice {
  color: hsl(158, 36%, 37%);
}
sup {
  font-size: 12px;
  text-decoration: line-through;
  line-height: 100%;
}
button {
  background-color: hsl(158, 36%, 37%);
  border-style: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 16px;
  height: 56px;
  cursor: pointer;
}
button p {
  color: hsl(0, 0%, 100%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
button:hover {
  background-color: hsl(212, 21%, 14%);
}
/* Attribution */
footer > div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding: 8px;
}
.attribution {
  color: hsl(212, 21%, 14%);
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  cursor: auto;
}
.attribution a {
  color: hsl(212, 21%, 14%);
  font-weight: 700;
  text-decoration: none;
  float: none;
}
/* Mobile view */
@media only screen and (max-width: 37.5rem) {
  body {
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    border-radius: 8px;
  }
  #image,
  #content {
    width: 100%;
    box-sizing: border-box;
  }
  #content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 160%;
    gap: 16px;
  }
  h1,
  p.description {
    max-width: 100%;
  }
  h1,
  .currentPrice {
    font-size: 32px;
  }
  img {
    object-fit: cover;
    height: 100%;
  }
}
